*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("https://i.pinimg.com/originals/66/53/1b/66531bcbcdc8106beb4709297a71dcc4.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    display: flex;
    width: 100px;
}
nav{
    width: 100%;
    height: 75px;
    line-height:75px;
    background-image: linear-gradient(#000000a9,#bb015b);
    padding:0px 30px;
    position: absolute;
    margin-top: 0px;
    display: flex;

}
.logo p{
    margin: 0;
    color: aliceblue;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
}


.logo ul{
    float:left; 
    overflow: auto;
}

.logo li{
 display: inline-flex;
 
 
}
.didi li{
 float: right;
 list-style: none;
 
}
.logo li a{
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0 30px;
    color: aliceblue;
    margin-left: 30px;
}
.logo li a:hover{
    color: rgb(208, 26, 90);
    transition: all 0.4s ease 0s;
}

.time h1{
  color: aliceblue;
  margin-top: 400px;
  margin-left: 700px;
  letter-spacing: 1.8px;
  font-size: 50px;
}
.manag h1{
    color: aliceblue;
    margin-top: 400px;
    margin-left: 10px;
    letter-spacing: 1.8px;
    font-size: 50px;
}
 .manag p{
    color: #e23a8b;
    margin-top: 25px;
    margin-right: 8px;
    /* letter-spacing: 1.2px; */
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
 }
 button{
    color: rgb(212, 212, 212);
    margin-top:550px;
    margin-right:10px;
    text-align: center;
    border-radius: 40px;
    width: 130px;
    cursor: pointer;
    border: 1px solid;
    height: 60px;
    background-color: black;
 }

.button :hover{
  background-color: #ac1960;
}







